body{
    background-color: white;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(70, 126, 240);
    text-align: center;
    font-size:70px;
}
.form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    text-align: center;
    font-size:30px;
}
.form1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    text-align: left;
    font-size:30px;
}
input[type=text], input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    width:80%;
}
input[type=submit] {
    width: 20%;
    background-color: rgb(68, 126, 243);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 54px;
    cursor: pointer;
    font-size:20px;
    font-weight: bold;
}
input[type=submit]:hover {
    background-color: #19498e;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    text-align: center;
    font-size:30px;
}
.b1,.b1:visited{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(70, 126, 240);
    padding: 10px 20px;
    color: whitesmoke;
    border-radius: 100px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
}
.b1:hover{
    background-color: #19498e;
}
.centering{
    text-align: center;
}